
<br />
<form method="post" asp-controller="Home" asp-action="Index" asp-antiforgery="true">
    <div class="form-inline">
        <input style="width:100%; margin-left:auto; margin-right:auto; border:groove; height:40px;" class="form-control" id="inputdefault" autofocus="autofocus" type="text" name="search" required />
        <button type="submit" style="height:40px;" class="btn btn-success">Search</button><br /><br />
    </div>
</form>
