@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_SearchPartialFromAPI")

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to CustomSearchEngine Application!</p>
</div>
